absl-py
numpy
scipy

# Tensorflow cpu version
tensorflow_datasets
# tensorflow-cpu
tf-nightly-cpu

# Install jax and jaxlib
jax==0.2.27
jaxlib==0.1.75+cuda11.cudnn82
--find-links https://storage.googleapis.com/jax-releases/jax_releases.html

# Install Haiku, Optax
git+git://github.com/deepmind/dm-haiku
git+git://github.com/deepmind/optax

# Install ml_collections from repo to match JAXline
git+git://github.com/google/ml_collections

# Install JAXline
git+git://github.com/deepmind/jaxline
